@{
    ViewBag.Title = "Error";
}

<div class="card bg-white rounded-3 shadow-lg">
    <h1>@ViewBag.ErrorMessage</h1>
</div>

<a asp-action="GetLots" asp-controller="Lot">Вернуться на главную страницу</a>