
<link rel="stylesheet" href="~/css/login.css" />
<style>
    input::placeholder {
        color: dimgrey;
    }
</style>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form method="post">
    <h3 style="color:black">Подтверждение почты</h3>

    <label style="color:black" for="username">Код</label>
    <input style="color:black" type="text" name="code" placeholder="Введите код из email">

    <button type="submit" style="color:black" asp-action="EmailConfirm" asp-controller="account">Подтвердить</button>
    <a type="submit" style="color:black" asp-action="GetSelfUser" asp-controller="User">Не подтверждать</a>
</form>