
<link rel="stylesheet" href="~/css/login.css" />
<style>
    input::placeholder {
        color: dimgrey;
    }
</style>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form method="post">
    <h3 style="color:black">Сброс</h3>

    <label style="color:black" for="username">Сброс пароля</label>
    <input type="password" style="color:black" name="oldPassword" placeholder="Enter old password">
    <input type="password" style="color:black" name="newPassword" placeholder="Enter new password">

    <button type="submit" style="color:black" asp-action="ResetPassword" asp-controller="Account">Reset password</button>
</form>