@model AppUser

<link rel="stylesheet" href="~/css/login.css"/>
<style>
    input::placeholder {
        color: dimgrey;
    }
</style>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<div id="container text-center">
    <form method="post">
        <h3 style="color:black">Регистрация модератора</h3>

        <div asp-validation-summary="All" class="text-danger"></div>

        <label for="username" style="color:black">Почта</label>
        <input type="text" asp-for="Email" style="outline-color:black; color:black;" placeholder="Введите почту..." id="username">

        <label for="password" style="color:black">Имя</label>
        <input style="color:black;outline-color:black;" asp-for="Name" placeholder="Введите имя...">


        <label for="password" style="color:black">Номер телефона</label>
        <input style="color:black;outline-color:black;" asp-for="PhoneNumber" placeholder="Введите номер телефона...">

        <label for="password" style="color:black">Пароль</label>
        <input type="password" style="color:black;outline-color:black;" asp-for="PasswordHash" placeholder="Введите пароль...">

        <a asp-action="login" style="color:black;" asp-controller="Account">Есть аккаунт? Авторизоваться</a>

        <button asp-action="signupManager" style="color:black;outline-color:black;" asp-controller="Account" type="submit">Зарегистрироваться</button>

    </form>
</div>


<script>
    var x = document.querySelectorAll("li")

    for (let i = 0; i < x.length; i++) {
        x[i].style.color = "red"
        x[i].style.listStyle = "none";
    }
    console.log(x.length)
</script>
